body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    text-align: center;
    background-color: #fff;
    padding: 20px 40px;
    border: 2px solid rgb(145, 76, 99);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);

}
h1{
    margin-bottom: 20px;
    color: #555;
}
.Quote-Box{
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid rgb(135, 51, 135);
    background-color: rgb(250, 230, 234);
    font-style: italic;
    border-radius: 10px;
}
button{
    background-color: purple;
    border-radius: 5px;
    color: white;
}